<div class="text-center myfooter">
    <a href="https://www.facebook.com/profile.php?id=100084525981093">
        <img class="socials-image" src="https://dalkeithgh.blob.core.windows.net/emilylilycreations/f_logo_RGB-Blue_58.png"/>
    </a>
    <a href="https://www.instagram.com/emily_lily_clay_creations/">
        <img class="socials-image" src="https://dalkeithgh.blob.core.windows.net/emilylilycreations/Instagram_Glyph_Gradient.png"/>
    </a>
</div>

@code {

}
