.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    color: rgba(115, 115, 116, 1);
    background-color: rgba(249, 243, 241, 1);
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    text-align: center;
    text-decoration: none;
}

.nav-row {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-row img {
    width: 200px;
}

@media screen and (max-width: 767px) {
    .top-row img {
        width: 150px;
    }
}

main {
    flex: 1;
}
