@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <a href="/" class="top-row px-4">
            <img src="https://dalkeithgh.blob.core.windows.net/emilylilycreations/EmilyLilyLogo.png" alt="Hamd made by Emily Lily Clay Creations logo">
            <h1>Emily Lily Clay Creations</h1>
            <img src="https://dalkeithgh.blob.core.windows.net/emilylilycreations/EmilyLilyLogo.png" alt="Hamd made by Emily Lily Clay Creations logo">
        </a>
    </div>
    <div class="nav-row">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <Footer />
</div>
