@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="https://dalkeithgh.blob.core.windows.net/emilylilycreations/EmilyLilyLogo.png" alt="Hamd made by Emily Lily Clay Creations logo" width="135" height="auto">
            <h4>Emily Lily Clay Creations</h4>
            <img src="https://dalkeithgh.blob.core.windows.net/emilylilycreations/EmilyLilyLogo.png" alt="Hamd made by Emily Lily Clay Creations logo" width="135" height="auto">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
