@page "/contact"
@inject EmailMessage _email
@inject HttpClient _client


<div class="container font-size-standard">
    <p class="text-center">Please feel free to e-mail any questions to <a href="mailto:emilylilyclaycreations@gmail.com">emilylilyclaycreations@gmail.com</a>, use the below contact form or use Facebook via the link at the bottom of the page.</p>
    <form class="row g-3 mytop-padding">
        <div class="col-md-6">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" @bind="_email.FirstName">
        </div>
        <div class="col-md-6">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" @bind="_email.LastName">
        </div>
        <div class="col-12 mytop-padding">
            <label for="inputEmail" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="joebloggs@gmail.com" @bind="_email.Email">
        </div>
        <div class="col-12 mytop-padding">
            <label for="inputMessage" class="form-label">Message</label>
            <textarea class="form-control" id="inputMessage" placeholder="Any comments and questions are welcome, if you are interested in any specific items please provide the reference numbers" @bind="_email.Message"></textarea>
        </div>
        <div class="col-12 mytop-padding text-center">
            <button type="button" class="btn btn-primary" @onclick="SubmitForm" >Submit</button>
        </div>
        <div>
        @ContactFormInfo
        </div>
    </form>
</div>

@code {
    private string ContactFormInfo { get; set; }

    private async Task SubmitForm()
    {
        using (_client)
        {
            var response = await _client.PostAsJsonAsync("Messenger/", _email);

            if (response.IsSuccessStatusCode)
            {
                ContactFormInfo = $"{_email.FirstName} {_email.LastName}, thank you for getting in touch.";
            }
            else
            {
                ContactFormInfo = "Sorry your message was not sent.";
            } 
        }
    }
}
