@page "/events"
<div class="text-center">
    <h3>Events of interest & craft fairs I will either be at or I am interested in personally.</h3>
</div>
<div class="container mytop-padding">
    <ul>
        <h4 class="mytop-padding">April:</h4>
        <li>Saturday 22nd April - The beacon Portal- Whitehaven.</li>
        <h4 class="mytop-padding">November:</h4>
        <li>Saturday 18th November - The West Lakes Acadamy - Egremont</li>
    </ul>
</div>

@code {

}
