@page "/events"
<div class="text-center">
    <h2>Events of interest & craft fairs I will either be at or I am interested in personally.</h2>
</div>
<div class="container mytop-padding font-size-standard">
    <ul>
        <h3 class="mytop-padding">April:</h3>
        <li>Saturday 22nd April - The beacon Portal- Whitehaven.</li>
        <h3 class="mytop-padding">November:</h3>
        <li>Saturday 18th November - The West Lakes Acadamy - Egremont</li>
    </ul>
</div>

@code {

}
