@page "/gallery"
@inject HttpClient _client

<h3>Gallery</h3>
<h5>All of my current polymer clay earrings.</h5>

@if (earrings is null)
{
    <div class="h6">Loading</div>
}
else
{
    <div class="hat-columns">
        @foreach (var earring in earrings)
        {
            <EarringUI Model="earring"></EarringUI>
        }
    </div>
}


@code {
    EarringModel[] earrings = null;

    protected override async Task OnInitializedAsync()
    {
        using (var request = new HttpRequestMessage(HttpMethod.Get, "EmilyLilyTable/"))
        {
            var response = await _client.SendAsync(request);
            earrings = await response.Content.ReadFromJsonAsync<EarringModel[]>();
        }
    }
}