@page "/gallery"
@inject HttpClient _client

<div class="text-center">
    <h3>Gallery</h3>
    <h5>All of my current polymer clay earrings.</h5>
</div>

@if (earrings is null)
{
    <div class="text-center loading-amination container">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
            <div class="loading-text">Loading</div>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="gallery-columns px-4">
        @foreach (var earring in earrings)
        {
            <EarringUI Model="earring"></EarringUI>
        }
    </div>
}


@code {
    EarringModel[] earrings = null;

    protected override async Task OnInitializedAsync()
    {
        using (var request = new HttpRequestMessage(HttpMethod.Get, "EmilyLilyTable/"))
        {
            var response = await _client.SendAsync(request);
            earrings = await response.Content.ReadFromJsonAsync<EarringModel[]>();
        }
    }
}