@page "/"

<PageTitle>Home</PageTitle>

<h1>Emily Lily Clay Creations</h1>
<h4>Welcome to my new website</h4>

<p>Api base address (test) :</p>
<p>@BaseBlobUrl</p>
<p>Image base address (test) :</p>
<p>@BaseApiUrl</p>



My website is currently under construction.

@code {
    string BaseBlobUrl = Environment.GetEnvironmentVariable("WEBSITE_BlobStorage_url");
    string BaseApiUrl = Environment.GetEnvironmentVariable("WEBSITE_API_url");

}